<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @dancer.name %>,</p>
    <br>
    <p>Your team switch request has been approved and you have switched from <%=@old_team_name %> to <%= @new_team_name %>!
    </p>
    <br>
    <p>With AFX Love,</p>

    <p>AFX Executive Board</p>

  </body>
</html>
