<body id="audition-form-body">
<div class="audition-form">
<div class="audnum">

    <h3>
      Your SRC form has been submitted.
    </h3>

<br>

<center><%= link_to "BACK", "/src", style: "color: grey" %></center>
</div>
</div>
</body>
