<style>
  .chart-container {
    position: relative;
    margin: auto;
    width:60vw;
  }
</style>

<body>
  <%= javascript_include_tag "application" %>

  <%= pie_chart Dancer.group(:gender).count, title: "Gender"%><br><br><br>

  <%= pie_chart Dancer.group(:year).count, title: "Year"%><br><br><br>

  <%= pie_chart Dancer.group(:dance_experience).count, title: "Experience" %>

</body>
