<style>
  .chart-container {
    position: relative;
    margin: auto;
    width:60vw;
  }
</style>

<body>
  <%= javascript_include_tag "application" %>

  <%= pie_chart Dancer.group(:gender).count %>

  <%= pie_chart Dancer.group(:year).count %>

  <%= pie_chart Dancer.group(:dance_experience).count %>

</body>
