<body id="email-form-body">
<div class="email-form">
<div class="email">

    <h3>
      Your email has been submitted. It will be sent within a couple minutes.
    </h3>


</h3>

<br>

<center><%= link_to "BACK", emailform_path %></center>
</div>
</div>
</body>
