<body id="audition-form-body">
<div class="audnum">
<h3>
    <b><%= @dancer.name %></b>,<br>
    your audition number is<br><br>
    <b><%= @dancer.id.to_s %></b>
</h3>

<br>

<center><%= link_to "BACK TO FORM", audition_form_path, style: "color: white" %></center><br><br>
<center><%= link_to "EDIT INFO", {id: @dancer.id, action: "edit"}, style: "color: white" %></center><br>
</div>
</body>
