<body id="audition-form-body">
<div class="audnum">
<h3>
    Your team switch request has been submitted.
    <br><br>
    <span style="font-size: 0.7em">Please keep this team switch request number for reference: <%= @request.id.to_s %></span>
</h3>

<br>

<center><%= link_to "BACK", team_switch_form_path, style: "color: white" %></center>
</div>
</body>
